<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>MapBook - 책있나?</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.1/bignumber.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@500;700&display=swap"
      rel="stylesheet">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NGWDVFJ33G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NGWDVFJ33G');
</script>
<body>
<header>
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid" style="margin-left: 20%">
      <a class="navbar-brand" href="https://mapbook.pro"
         style="color: #00b74a; font-size: 30px; font-weight: bold; margin-left: 15%;">MapBook</a>
      <div class="d-flex" style="margin-right: 30%">
        <input id="search-input" class="form-control me-2" type="search"
               placeholder="전국 모든 도서관 책 찾기" aria-label="Search">
        <button id="search-input-btn" class="btn btn-success" type="button">Search</button>
      </div>
    </div>
  </nav>

</header>

<!-- Page Content-->

<div class="container px-4 px-lg-6 p-5" id="book_container" style="margin-top: 20pt">
  <div id="book-box" class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <p>안녕하세요! MapBook 이에요!🤗🤗 </p>
      <p style="color: #636464">[전국 도서관 책을 한번에 찾고, 지도로 도서관을 찾으세요!]<br>
        전체 도서관 대출 횟수를 기반으로 원하는 도서를 찾는데 도와 드릴게요!🚀🚀
      </p>
      <p>문의나 건의는 [jgfkdlzh@gmail.com]으로 해주세요!📢📢</p>
    </div>
  </div>
  <div id="book-box" class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-2">
      <img id="book-img" class="img-fluid rounded mb-4 mb-lg-0"
           src="https://image.yes24.com/goods/94406013/XL"
           alt="Book image">
    </div>
    <div class="col-lg-5">
      <h2 class="font-weight-light">MapBook</h2><br>
      <p>1. 자동 완성으로 당신을 도와 줄게요!</p>
      <p>2. 사람들이 많이 빌린 책이 뭔지 알 수 있어요!</p>
      <p>3. 영어로 잘못 쳐도 괜찮아요! 고쳐서 찾아 줄게요!</p>
      <p>4. 영어와 한글 상호 보완적으로 검색 돼요! </p>
      <p>5. 스크롤을 계속 내리면 결과가 계속 나와요! (더 없으면 멈추죠😅)</p>
      <p style="color: #636464">[대출 횟수는 전국 도서관에서 합산된 대출 횟수에요 - 1억 2천만건😎</p>
    </div>
    <div class="col-lg-2">
      <a class="btn btn-outline-success" data-isbn="9788986836240">대출 가능 <br>도서관 찾기!</a>
    </div>
  </div>
  <div id="book-box" class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-2">
      <img id="book-img" class="img-fluid rounded mb-4 mb-lg-0"
           src="https://image.yes24.com/goods/59437020/XL"
           alt="Book image">
    </div>
    <div class="col-lg-5">
      <h2 class="font-weight-light">이건 아직 부족해요...😢</h2><br>
      <p>1. 아이폰에선 지도 검색 기능이 안돼요...</p>
      <p>2. 모바일에선 좀 불편할 수 있어요...</p>
      <p>3. 대출할 수 있는 정보는 하루 전 데이터예요...</p><br>
    </div>
    <div class="col-lg-2">
      <a class="btn btn-outline-success" data-isbn="9788986836240">대출 가능 <br>도서관 찾기!</a>
    </div>
  </div>
  <div id="book-box" class="row gx-4 gx-lg-5 align-items-center my-5">
    <!-- default page-->
    <div class="col-lg-2">
      <img id="book-img" class="img-fluid rounded mb-4 mb-lg-0"
           src="http://image.aladin.co.kr/product/8679/31/cover/k372535696_1.jpg"
           alt="Book image">
    </div>
    <div class="col-lg-5">
      <h2 class="font-weight-light">개선 됐어요!!<23/7/31>😆</h2><br>
      <p>1. 대출 횟수 2,500만 -> 1억 2천만으로 더 정확 해졌어요!</p>
      <p>2. ISBN으로 검색 가능 해졌어요!</p>
      <p>3. 고장 났던, 무한 스크롤 기능이 고쳐졌어요!</p>
    </div>
    <div class="col-lg-2">
      <a class="btn btn-outline-success" data-isbn="9791186757093">대출 가능 <br>도서관 찾기!</a>
    </div>
  </div>
  <div id="book-box" class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-2">
      <img id="book-img" class="img-fluid rounded mb-4 mb-lg-0"
           src="https://bookthumb-phinf.pstatic.net/cover/030/257/03025716.jpg?type=m1&amp;udate=20180227"
           alt="Book image">
    </div>
    <div class="col-lg-5">
      <h2 class="font-weight-light">왜 나는 너를 사랑하는가</h2>
      <p>대출 횟수 : 20817</p>
      <p>저자 : 알랭 드 보통 [지음];정영목 옮김</p>
      <p>2005년 4월 14일 'TV 책을 말하다' 추천도서. 남녀가 만나 사랑에 빠지는 그 놀랍도록 기이한 첫 만남에서부터, 점차 시들해지고 서로를 더이상
        운명으로
        느끼지 않게 되는 이별까지. 연애에 든 남녀의 심리와 그 메카니즘이 아주 흥미진진한 철학적 사유와 함께 기술되어 있다.

        파리에서 런던으로 가는... </p>
    </div>
    <div class="col-lg-2">
      <a class="btn btn-outline-success" data-isbn="9788986836240">대출 가능 <br>도서관 찾기!</a>
    </div>
  </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5">
    <p class="m-0 text-center text-white">Copyright &copy; Team MapBook 2023 / 이미지 출처 : 알라딘
      http://image.aladin.co.kr</p>
    <p class="m-0 text-center text-white">Contact US</p>
    <p class="m-0 text-center text-white">
      [Ryan J : jgfkdlzh@gmail.com]
      [SLIPPECAT : ryjun91@gmail.com]
      [Sara : zbd0329@gmail.com]
      [zs12341 : rewin6455@gmail.com]
    </p>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>