<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>검색 결과 - 책있나?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="../../static/images/mapbook.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.1/bignumber.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link type="text/css" th:href="@{/css/searchResult.css}" rel="stylesheet">

</head>
<body>
<header>
  <div class="search-box">
    <form id="search-form" action="/books/search">
      <select name="target" aria-label="선택">
        <option value="title">도서명</option>
<!--        <option value="author">저자</option>-->
<!--        <option value="all">전체</option>-->
      </select>
      <label>
        <input id="query-input" type="text" name="query" placeholder="검색어를 입력하세요">
      </label>
      <button id="search-button" type="submit">검색</button>
      <p>
        '<span id="query"></span>' 에 대한 자료검색 결과이며 총 도서 수:
        <span th:text="${size}"></span>건이 검색되었습니다.
      </p>
    </form>

    <div>
      <a href="/" class="home-button">
        <span>Home</span>
      </a>
    </div>
  </div>
  <button onclick="getRecommend()">추천 도서 보기</button>

  <div class="recommend-box" id="recommend-box" style="display: none">
    <p> ---검색중----</p>
  </div>

</header>

<main>
  <div>
    <table>
      <thead>
      <tr>
        <th>ISBN</th>
        <th>도서 제목</th>
        <th>작가</th>
        <th>내용</th>
        <th>이미지</th>
        <th>대출 가능한 <br>주변 도서관</th>
        <th>제목<br>복사</th>
      </tr>
      </thead>
      <tbody id="book-info-column">
      <tr th:each="book : ${searchResult.documents}">
        <td th:text="${book.getIsbn()}"></td>
        <td>
          <span th:text="${book.title}"></span>
        </td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.content}"></td>
        <td>
          <img class="book-image" th:src="${book.bookImg}" alt="준비중" src="../../static/images/empty.jpeg"/>
        </td>
        <td>
          <button class="loan-check-btn" th:data-isbn="${book.isbn}" onsubmit="return openPopup_MapBook()">
            내 주변<br>도서관
          </button>
        </td>
        <td>
          <button class="copy-btn" th:data-title="${book.title}">복사</button>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="alert alert-success" role="alert" style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999;">
      도서 제목이 클립보드에 복사되었습니다.
    </div>
  </div>
</main>
<footer>
  <div class="pagination">
    <button id="prevBtn">Prev</button>
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
    <ul id="pages" class="pages">
    </ul>
    <button id="nextBtn">Next</button>
    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
  </div>
</footer>

<script th:inline="javascript">

  const form = document.getElementById('search-form');
  const queryInput = document.getElementById('query-input');

  form.addEventListener('submit', function (event) {
    if (queryInput.value.trim().length < 2) {
      event.preventDefault(); // 검색을 실행하지 않음
      alert('검색어를 두글자 이상 입력해주세요.');
    } else if (event.keyCode === 13 && queryInput.value.trim().length > 30){
      event.preventDefault(); // 검색을 실행하지 않음
      alert('검색어를 30글자 이하로 입력해주세요.');
    }
  });

  queryInput.addEventListener('keypress', function (event) {
    if (event.keyCode === 13 && queryInput.value.trim().length < 2) {
      event.preventDefault(); // 검색을 실행하지 않음
      alert('검색어를 2글자 이상 입력해주세요.');
    } else if (event.keyCode === 13 && queryInput.value.trim().length > 30){
      event.preventDefault(); // 검색을 실행하지 않음
      alert('검색어를 30글자 이하로 입력해주세요.');
    }
  });

  const query = new URLSearchParams(window.location.search).get('query');
  document.getElementById('query').textContent = query;

  let copyBtns = document.querySelectorAll('.copy-btn');
  let alertBox = document.querySelector('.alert');
  copyBtns.forEach(function (btn) {
    btn.addEventListener('click', function (event) {
      // 이벤트 버블링 방지
      event.stopPropagation();

      // 클립보드에 복사할 텍스트 가져오기
      let text = event.target.dataset.title;

      // 클립보드에 복사
      navigator.clipboard.writeText(text)
      .then(function () {
        console.log('제목이 클립보드에 복사되었습니다.');
        // 알람 띄우기
        alertBox.style.display = 'block';
        setTimeout(function () {
          alertBox.style.display = 'none';
        }, 500); // 0.5초 후 알람 닫기
      })
      .catch(function (err) {
        console.error('클립보드 복사에 실패하였습니다.', err);
      });
    });
  });

  function openPopup() {
    const areaCd = document.getElementById('search-input').value;
    const url = `/library/mapSearch?areaCd=${areaCd}`;
    window.open(url, 'areaCdInfo', 'width=1200,height=800');
    return false;
  }
</script>

<script th:inline="javascript">
  /*<![CDATA[*/
  let searchResultData = /*[[${searchResult}]]*/ [];
  /*]]>*/
</script>

<script th:inline="javascript">
  $(document).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let size = [[${size}]];

    let endPage;
    if( size % 10 === 0 ){
      endPage = size / 10
    } else {
      endPage = Math.ceil( size / 10 );
    }
    let startPage;

    let query = urlParams.get('query');
    let currentPage = parseInt(urlParams.get('page') || 1);

    // 페이지 링크 생성 및 할당
    let totalPages;
    const url = "/books/search?query=" + query + "&page=";

    function generatePageLinks(currentPage) {
      let pages = $(".pages");
      pages.empty();

      totalPages = currentPage + 4;
      let startPage = Math.floor((currentPage - 1) / 5) * 5 + 1;

      if( endPage > 5 ) {
        totalPages = startPage + 4;
      }

      for (let i = startPage; i <= totalPages; i++) {
        let pageLink = $("<a>").attr("href", url + i).addClass("page-link").text(i);
        let pageItem = $("<li>").addClass("page-item").append(pageLink);
        if (i === currentPage || (currentPage >= startPage && currentPage <= endPage && i === currentPage)) {
          pageItem.addClass("current");
        }
        pages.append(pageItem);
      }
    }
    generatePageLinks(currentPage);

    // 이전 페이지 버튼 클릭 시 이벤트 처리
    $("#prevBtn").on("click", function(event) {
      if (currentPage === 1){
        alert("현재 페이지는 1페이지입니다. 이전 페이지는 없습니다.")
        event.preventDefault();
      } else if (currentPage > 1) {
        window.location.href = url + (currentPage - 1);
      }
    });

    // 다음 페이지 버튼 클릭 시 이벤트 처리
    $("#nextBtn").on("click", function(event) {
      const nextPage = currentPage + 1;
      if (currentPage === endPage){
        alert("현재 페이지는 마지막 페이지입니다. 다음 페이지는 없습니다.")
        event.preventDefault();
      } else if (nextPage <= totalPages) {
        window.location.href = url + (currentPage + 1);
      } else {
        currentPage = nextPage; // 현재 페이지를 다음 페이지로 업데이트
        generatePageLinks(nextPage); // 페이지 링크 다시 생성
        window.location.href = url + nextPage;
      }
    });

    const pageLinks = $(".page-link");
    pageLinks.each(function(index) {
      const pageItem = $(this).parent();
      const pageNum = parseInt($(this).text());
      if (pageNum === currentPage) {
        pageItem.addClass("current");
      } else {
        pageItem.removeClass("current");
      }
      if (pageNum < startPage || pageNum > endPage) {
        pageItem.hide();
      } else {
        pageItem.show();
      }
    });
  });

  $('.loan-check-btn').on('click', function() {
    let isbn = $(this).attr('data-isbn');
    let bigNumberIsbn = new BigNumber(isbn);
    isbn = bigNumberIsbn.toFixed();
    console.log(isbn);
  });
  document.addEventListener("DOMContentLoaded", function () {
    const loanCheckButtons = document.querySelectorAll(".loan-check-btn");

    loanCheckButtons.forEach((button) => {
      button.addEventListener("click", function (event) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var lat = position.coords.latitude, // 위도
              lon = position.coords.longitude; // 경도

          const isbn2 = event.target.getAttribute("data-isbn");
          const isbn = BigInt(Number(isbn2));
          openPopup_MapBook(isbn.toString(), lat, lon);

        });
      });
    });
  });


  function openPopup_MapBook(isbn, lat, lon) {

    // 데이터 객체에 isbn, lat, lon 값을 추가
    const data = {
      isbn: isbn,
      lat: lat,
      lon: lon
    };

    $.ajax({
      type: 'POST',
      url: `/books/mapBook/search`,
      contentType: "application/json",
      data: JSON.stringify(data), // 수정된 data 객체를 JSON 형태로 변환하여 전송
      success: function (response) {
        // 새로운 팝업 창을 열고 응답을 받은 HTML로 내용을 채움
        const popupWindow = window.open('', 'areaCdInfo', 'width=1200,height=800');
        popupWindow.document.write(response);
        popupWindow.document.close();
      },
      error(error) {
        console.error(error);
      }
    });

    return false;
  }

  function getRecommend() {
    // 현재 페이지 URL에서 'query' 파라미터 값 가져오기
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get('query');

    if ($('#recommend-box').css('display') === 'none') {
      $('#recommend-box').show();
    }

    $.ajax({
      type: 'POST',
      url: `/books/recommend`,
      contentType: "application/json",
      data: JSON.stringify({query}), // query 파라미터를 data 객체에 추가
      success: function (response) {
        $('#recommend-box').empty();
        for (let i = 0; i < response.length; i++) {
          let bookNm = response[i];
          $('#recommend-box').append(`(${i+1}) ${bookNm}  `);
        }
        console.log(response);
      },
      error(error) {
        console.error(error);
      }
    })
  }
</script>

</body>
</html>