<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>검색 결과 - 책있나?</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.1/bignumber.min.js"></script>
  <link type="text/css" th:href="@{/css/searchResult.css}" rel="stylesheet">


</head>
<body>
<header>
  <div class="search-box">
    <form id="search-form" action="/books/search">
      <select name="target" aria-label="선택">
        <option value="title">도서명</option>
        <option value="author">저자</option>
        <option value="all">전체</option>
      </select>
      <label>
        <input id="query-input" type="text" name="query" placeholder="검색어를 입력하세요">
      </label>
      <button id="search-button" type="submit">검색</button>
      <p>
        '<span id="query"></span>' 에 대한 자료검색 결과이며 총 도서 수:
        <span th:text="${size}"></span>건이 검색되었습니다.
      </p>
    </form>

    <div>
      <a href="/" class="home-button">
        <span>Home</span>
      </a>
    </div>
  </div>
  <button onclick="getRecommend()">추천 도서 보기</button>

  <div class="recommend-box" id="recommend-box" style="display: none">
    <p> ---검색중----</p>
  </div>

  <!--  홈버튼-->

  <!--  &lt;!&ndash;  추천도서&ndash;&gt;
    <div class="recommend-box">
      &lt;!&ndash; search/searchResult 템플릿 &ndash;&gt;
      <p>
        추천도서 :
        <span th:if="${recommends.getRecommendBooks().isEmpty()}">
          추천 도서가 없습니다.
        </span>
        <span th:each="book, iter : ${recommends.getRecommendBooks()}">
          <span th:text="${book.title}"></span>
          <span th:if="${!iter.isLast()}">, </span>
        </span>
      </p>
    </div>

    &lt;!&ndash;  연관도서&ndash;&gt;
    <div class="related-box">
      &lt;!&ndash; search/searchResult 템플릿 &ndash;&gt;
      <p>
        연관검색어 :
        <span th:if="${relationWords == null}">
          검색 결과가 없습니다.
        </span>
        <span th:each="token, status : ${relationWords?.tokens}">
          <span th:text="${token}"></span>
          <span th:if="${!status.last}">, </span>
        </span>
      </p>
    </div>-->
</header>

<main>
  <div>
    <table>
      <thead>
      <tr>
        <th>번호</th>
        <th>도서 제목</th>
        <th>작가</th>
        <th>내용</th>
        <th>이미지</th>
        <th>대출 가능한 <br>주변 도서관</th>
        <th>제목<br>복사</th>
      </tr>
      </thead>
      <tbody id="book-info-column">
      <tr th:each="book : ${searchResult.documents}">
        <td th:text="${book.getId()}"></td>
        <td>
          <span th:text="${book.title}"></span>
        </td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.content}"></td>
        <td>
          <img class="book-image" th:src="${book.bookImg}" alt="준비중"
               src="../static/images/empty_img.png"/>
        </td>
        <td>
          <button class="loan-check-btn" th:data-isbn="${book.isbn}" onsubmit="return openPopup()">
            내 주변<br>도서관
          </button>
        </td>
        <td>
          <button class="copy-btn" th:data-title="${book.title}">복사</button>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="alert alert-success" role="alert"
         style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999;">
      도서 제목이 클립보드에 복사되었습니다.
    </div>

  </div>
</main>
<footer>
  <div class="pagination">
    <button id="prevBtn">Prev</button>
    <!--    <a href="#" id="prevBtn" class="page-link prev" aria-label="Previous">-->
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
    <!--    </a>-->
    <ul class="pages">
    </ul>
    <button id="nextBtn">Next</button>
    <!--    <a href="#" id="nextBtn" class="page-link next" aria-label="Next">-->
    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
    <!--    </a>-->
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  const form = document.getElementById('search-form');
  const queryInput = document.getElementById('query-input');

  form.addEventListener('submit', function (event) {
    if (queryInput.value.trim().length < 2) {
      event.preventDefault(); // 검색을 실행하지 않음
      alert('검색어를 두글자 이상 입력해주세요.');
    }
  });

  queryInput.addEventListener('keypress', function (event) {
    if (event.keyCode === 13 && queryInput.value.trim().length < 2) {
      event.preventDefault(); // 검색을 실행하지 않음
      alert('검색어를 두글자 이상 입력해주세요.');
    }
  });

  const query = new URLSearchParams(window.location.search).get('query');
  document.getElementById('query').textContent = query;

  var copyBtns = document.querySelectorAll('.copy-btn');
  var alertBox = document.querySelector('.alert');
  copyBtns.forEach(function (btn) {
    btn.addEventListener('click', function (event) {
      // 이벤트 버블링 방지
      event.stopPropagation();

      // 클립보드에 복사할 텍스트 가져오기
      var text = event.target.dataset.title;

      // 클립보드에 복사
      navigator.clipboard.writeText(text)
      .then(function () {
        console.log('제목이 클립보드에 복사되었습니다.');
        // 알람 띄우기
        alertBox.style.display = 'block';
        setTimeout(function () {
          alertBox.style.display = 'none';
        }, 500); // 0.5초 후 알람 닫기
      })
      .catch(function (err) {
        console.error('클립보드 복사에 실패하였습니다.', err);
      });
    });
  });

  function openPopup() {
    const areaCd = document.getElementById('search-input').value;
    const url = `/library/mapSearch?areaCd=${areaCd}`;
    window.open(url, 'areaCdInfo', 'width=1200,height=800');
    return false;
  }
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  let searchResultData = /*[[${searchResult}]]*/ [];
  /*]]>*/
</script>
<script th:inline="javascript">
  $(document).ready(function() {
    let urlParams = new URLSearchParams(window.location.search);
    let query = urlParams.get('query');
    let currentPage = parseInt(urlParams.get('page') || 1);
    console.log(currentPage);

    // 페이지 링크 생성 및 할당
    let totalPages = 5;
    const url = "/books/search?query=" + query + "&page=";

    function generatePageLinks(currentPage) {
      let pages = $(".pages");
      pages.empty();
      // 페이지 링크 생성
      totalPages = currentPage - 1 + 5
      let startPage = Math.floor((currentPage - 1) / 5) * 5 + 1;
      let endPage = startPage + 4;
      if (endPage > totalPages) {
        endPage = totalPages;
      }
      for (let i = startPage; i <= endPage; i++) {
        let pageLink = $("<a>").attr("href", url + i).addClass("page-link").text(i);
        let pageItem = $("<li>").addClass("page-item").append(pageLink);
        if (i === currentPage || (currentPage >= startPage && currentPage <= endPage && i === currentPage)) {
          pageItem.addClass("current");
        }
        pages.append(pageItem);
      }
    }
    generatePageLinks(currentPage);

    // 이전 페이지 버튼 클릭 시 이벤트 처리
    $("#prevBtn").on("click", function() {
      if (currentPage > 1) {
        window.location.href = url + (currentPage - 1);
      }
    });

    // 다음 페이지 버튼 클릭 시 이벤트 처리
    $("#nextBtn").on("click", function() {
      const nextPage = currentPage + 1;
      if (nextPage <= totalPages) {
        window.location.href = url + (currentPage + 1);
      } else {
        currentPage = nextPage; // 현재 페이지를 다음 페이지로 업데이트
        generatePageLinks(nextPage); // 페이지 링크 다시 생성
        window.location.href = url + nextPage;
      }
    });

    const pageLinks = $(".page-link");
    pageLinks.each(function(index) {
      const pageItem = $(this).parent();
      const pageNum = parseInt($(this).text());
      if (pageNum === currentPage) {
        pageItem.addClass("current");
      } else {
        pageItem.removeClass("current");
      }
      if (pageNum < startPage || pageNum > endPage) {
        pageItem.hide();
      } else {
        pageItem.show();
      }
    });
  });

  $('.loan-check-btn').on('click', function() {
    var isbn = $(this).attr('data-isbn');
    var bigNumberIsbn = new BigNumber(isbn);
    isbn = bigNumberIsbn.toFixed();
    console.log(isbn);
  });
  document.addEventListener("DOMContentLoaded", function () {
    const loanCheckButtons = document.querySelectorAll(".loan-check-btn");

    loanCheckButtons.forEach((button) => {
      button.addEventListener("click", function (event) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var lat = position.coords.latitude, // 위도
              lon = position.coords.longitude; // 경도

          const isbn2 = event.target.getAttribute("data-isbn");
          const isbn = BigInt(Number(isbn2));
          openPopup(isbn.toString(), lat, lon);
          console.log(isbn, lat, lon);
        });
      });
    });
  });

  function openPopup(isbn, lat, lon) {

    const url = `/books/mapBook/search?isbn=${isbn}&lat=${lat}&lon=${lon}`;
    window.open(url, 'areaCdInfo', 'width=1200,height=800');
    return false;
  }

  /*--------------------------------------------*/

  /*function addHTML(itemDto) {
    /!**
     * class="search-itemDto" 인 녀석에서
     * image, title, lprice, addProduct 활용하기
     * 참고) onclick='addProduct(${JSON.stringify(itemDto)})'
     *!/
    return `<div class="search-itemDto">
        <div class="search-itemDto-left">
            <img src="${itemDto.image}" alt="">
        </div>
        <div class="search-itemDto-center">
            <div>${itemDto.title}</div>
            <div class="price">
                ${numberWithCommas(itemDto.lprice)}
                <span class="unit">원</span>
            </div>
        </div>
        <div class="search-itemDto-right">
            <img src="../images/icon-save.png" alt="" onclick='addProduct(${JSON.stringify(itemDto)})'>
        </div>
    </div>`
  }*/

  function getRecommend() {

    // 현재 페이지 URL에서 'query' 파라미터 값 가져오기
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get('query');

    if ($('#recommend-box').css('display') === 'none') {
      $('#recommend-box').show();
    }

    $.ajax({
      type: 'Post',
      url: `/books/recommend`,
      contentType: "application/json",
      data: JSON.stringify({query}), // query 파라미터를 data 객체에 추가
      success: function (response) {

        $('#recommend-box').empty();
        for (let i = 0; i < response.length; i++) {
          let bookNm = response[i];
          $('#recommend-box').append(`(${i+1}) ${bookNm}  `);
        }
        console.log(response);
      },
      error(error) {
        console.error(error);
      }
    })
  }
</script>

</body>
</html>