<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MapBook - 대출 가능 도서관</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NGWDVFJ33G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NGWDVFJ33G');
</script>
<body>
<p style="margin-top:-12px">
  <b>Chrome 브라우저는 https 환경에서만 geolocation을 지원합니다.</b> 참고해주세요.
</p>
<div id="map" style="width:100%;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c42f48eb37ceb1901cdfdc9c1dba0e9"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  let loanAbleData = /*[[${mapBooks}]]*/ [];
  /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/mapBook.js}"></script>
</body>
</html>