<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>

<div class = "banner-info">
  <p style="border-bottom: 1px dashed lightgray; font-size: 22px; font-weight: bold"  >로그인</p>
  <p style="border-bottom: 1px dashed lightgray" ><a>🏠 회원정보</a> > <a>로그인</a></p>
</div>

<div id="login-form">
  <div >
    <p style="height: 30px; font-size: 48px; font-weight: bold; text-align: center"> 항해 99 라이브러리</p>
    <p style="height: 30px;font-size: 30px; text-align: right"> Hanghae Library</p>

    <div class="login-id-label"></div>
      <input type="text" name="username" id="username" class="login-input-box" placeholder="아이디">

    <div class="login-id-label"></div>
      <input type="password" name="password" id="password" class="login-input-box" placeholder="비밀번호">

    <button id="login-id-submit">로그인</button>
    <div class="login-tags">
      <a class="login-tag" id="find_id">아이디 찾기</a>
      <a class="login-tag" id="find_pw">비밀번호 찾기</a>
      <a class="login-tag" id="signup">회원 가입하기</a>
    </div>
  </div>
</div>

</body>
</html>