<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>여러개 마커에 이벤트 등록하기1</title>

</head>
<body>
<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2c42f48eb37ceb1901cdfdc9c1dba0e9"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var loanAbleData = /*[[${loanAble}]]*/ [];
  /*]]>*/

  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
        center: new kakao.maps.LatLng(37.4522753, 127.1531016), // 지도의 중심좌표
        level: 6 // 지도의 확대 레벨
      };

  mapContainer.style.width = '1200px';
  mapContainer.style.height = '800px';

  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

  // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
  var positions = [];

  for (let i = 0; i < loanAbleData.length; i++) {
    const markerData = loanAbleData[i];

    const loanAvailable = markerData.loanAvailable;

    if (loanAvailable === "Y") {
      const newMarker = {
        content: `<div>${markerData.libNm}</div>`,
        latlng: new kakao.maps.LatLng(markerData.libLa, markerData.libLo)
      };

      positions.push(newMarker);
    }
  }

  for (var i = 0; i < positions.length; i ++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      map: map, // 마커를 표시할 지도
      position: positions[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
      content: positions[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
  }

  // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
  function makeOverListener(map, marker, infowindow) {
    return function() {
      infowindow.open(map, marker);
    };
  }

  // 인포윈도우를 닫는 클로저를 만드는 함수입니다
  function makeOutListener(infowindow) {
    return function() {
      infowindow.close();
    };
  }

</script>
</body>
</html>