<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="search-form">
  <form action="/mapSearch/markers" method="post">
    <select style="border-color: #ffffff; height: 20px; font-size: 16px; " aria-label="선택">
      <option>전체</option>
      <option>도서명</option>
      <option>저자</option>
      <option>출판사</option>
    </select>
    <input id="search-input" type="text" placeholder="도서를 입력하세요" name="isbn">
    <button type="submit">검색</button>
  </form>
</div>
</body>
</html>