<!DOCTYPE html>
<html lang="en">
<head>
    <metaDto charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
    <title>Search</title>
</head>
<body>
<div id="search-form">
    <form>
        <p class="mini-banner">인기 검색어</p>
        <select style="border-color: #ffffff; height: 20px; font-size: 16px; " aria-label="선택">
            <option>전체</option>
            <option>도서명</option>
            <option>저자</option>
            <option>출판사</option>
        </select>
        <input type="text" placeholder="도서를 입력하세요">
        <button type="submit">검색</button>
        <p class = "mini-banner">검색어 '검색어'에 대한 자료검색 결과이며, 총 10건이 검색되었습니다.</p>
    </form>
</div>

<div id="search-result-form">
    <div id="array-form">
        <div class="select-container">
            <select aria-label="선택">
                <option>정렬방식</option>
                <option>정확도순</option>
                <option>저자</option>
            </select><br>

            <select aria-label="정렬 개수">
                <option>10건</option>
                <option>30건</option>
                <option>50건</option>
            </select>
            <button class="common-btn"> 확인 </button>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="flexCheckDefault1" >
                <label class="form-check-label" for="flexCheckDefault1">전체도서</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">일반도서</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">아동도서</label>
            </div>
            <button class="common-btn"> 적용 </button>
        </div>

        <div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckDefault4"></label>
                <button class="common-btn">관심자료담기</button>
                <button class="common-btn">관심자료담기</button>
            </div>
        </div>
    </div>

    <div id="book-info-box">
        <div class="form-check">
            <a>1.</a><br>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
            <label class="form-check-label" for="flexCheckDefault5"></label>
        </div>
        <img src="../static/images/다이진.png" alt="예시"></img>
        <div id="book-info-column">
            <div style="margin-bottom: 10px;">
                <a style="background-color: lightslategray;">도서</a><a>다방과 카페, 모던보이의 아지트</a>
                <a>저자: </a><a>발행자: <span>류준영</span></a><a>발행연도: <span>2023년</span></a>
            </div>
            <div style="margin-bottom: 10px; width: 480px; height: 100px; background-color: #f1f1f1; gap: 10px;">
                <a>대출불가[대출중]</a>
                <a>도서예약</a><button class="common-btn">예약하기</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>